* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #35004bd3, #520871d7);
  color: #444;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
  color: #fff;
}

form {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  max-width: 500px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.input-group label {
  flex-basis: 100%;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input-group input,
.input-group select {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.5rem;
  flex-basis: calc(50% - 0.5rem);
}

.input-group input:focus,
.input-group select:focus {
  outline: none;
  border-color: #007bff;
}

.input-group input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.input-group input[type="number"]::-webkit-outer-spin-button,
.input-group input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group button {
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-left: auto;
  padding: 0.5rem 1rem;
}

.input-group button:hover {
  background-color: #0069d9;
}

button[type="button"] {
  background-color: #6c757d;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  width: 50%;
}

button[type="button"]:hover {
  background-color: #5a6268;
}

table {
  background-color: #fff;
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
  max-width: 500px;
  width: 100%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

#resultado {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 500px;
  padding: 1rem;
  text-align: center;
}
